@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto|Varela+Round";
.margin-top {margin-top : 20px}
.not-found,.clean-find,.edit,.edit:hover,.delete {color: aliceblue}

.find {background: #f5d20c;color: #393939}
.clean-find {background: #c02f2f}

.edit {background: #1b8dac;border: #1b8dac;width: 27.58px}
.edit:hover {background: #0ba8d3}

.delete,.clean-find,.find {margin-left: 3.5px}
.delete {background: #560df5;border: #560df5}

.toast {position: fixed;top: 10px;right: 10px;z-index: 1;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2)}