@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto|Varela+Round";

body {overflow-x: hidden}

.margin-top {margin-top : 22px}
.clean-find,.edit:hover,.slide,.content-modal {color: aliceblue}

.find {background: #f5d20c;color: hwb(0 22% 78%)}
.clean-find {background: hsl(0, 61%, 47%)}

.edit {background: #598c0e;border: #598c0e;width: 28.2px;color: lightgreen}
.edit:hover {background: hwb(84 5% 36%)}

.delete,.clean-find,.find {margin-left: 4.5px}
.delete {background: hsl(193, 86%, 29%);border: #0a6d88;color: hsl(187, 100%, 60%)}

.toast {position: fixed;top: 10px;right: 10px;z-index: 1;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)}

.card-store {background: #383940;width: 1160px;margin-left: -5px;border-radius: 20px}
.card-video {background: #383940;width: 1190px;margin-left: -40px;border-radius: 20px}

.slide {transition: transform .45s ease-in-out}

/* ============================================ MODAL VANILLA of STORE ❐ ================================================
                          Enable = class with name(.modal) & uncomment line 115 in Store.jsx                              */

.modall {display: flex;background: hwb(0 0 100% / .4);align-items: center;justify-content: center;transform: scale(1.14);visibility: hidden;transition: transform .15s ease-in-out}
.content-modal {border: .1px solid #695c4a;background: #36373e;padding: 20px;width: 550px;height: 250px;border-radius: .5rem}
.modal-show {visibility: visible;transform: scale(1)}

/* =============================================== MODAL 2 of STORE ❐ =================================================== */

.btn-container {display: flex;padding: .8rem 6rem}
.btn-container button {margin: auto;padding: 5px}
.close-btn {position: fixed;top: 4px;right: 13px;cursor: pointer;font-size: small}
.modal-body {text-align: center;margin-top: 14px;padding: 1rem 1rem}
#modal-container {width: 700px;position: absolute;top: 46%;left: 50%;transform: translate(-50%, -50%);background: #e2e2e2;box-shadow: 0 0 30px #00ffee;border-radius: 8px}

/* ===============================================  WEATHER ⚡ 🌪 🌈  ==================================================== */

.city {margin-top: -60px;font-size: 32px}
.date {font-size: 16px}
.low-high {font-size: 22px}

.clock-svg {width: 60px;display: flex;margin: auto}
.compass {font-size: 33px;margin-left: -397px}

.manometer {width: 95px;margin-top: -110px}

.temp-air {width: 90px;margin: -30px -190px 0 0}
.temp-pressure {width: 100px;margin: -194px 0 0 -590px}

.volts {width: 70px;margin: -187px -100px 0 60px}

.container-img {width: auto;height: 120px;display: flex;justify-content: center}
.container-temp {display: flex;justify-content: center;margin-left: -55px}

/* ============================================== THEME TOGGLE ☀️ / 🌙 ================================================== */

.toggle {position: absolute;right: 1em;padding: 6px;z-index: 10}
#darkmode {display: flex;justify-content: center}
#darkmode .ball {width: 14px;height: 14px;background: #feffb33b;border-radius: 50%;transition: transform .15s linear;cursor: pointer;margin: -15.7px 0 0 -19px}
#darkmode .label {transform: scale(1.5)}
#darkmode .checkbox {opacity: 0;position: absolute}
#darkmode .checkbox:checked + .label .ball{transform: translateX(24px)}

/* ================================================ DIGITAL WATCH ⏲ ==================================================== */

:root {
  --r: #ff2972;
  --g: #04fc43;
  --y: #fee800;
  --w: #fff;
}

.watch {margin-left: 462px;border: 2px solid var(--w);border-radius: 8px;color: var(--w);display: flex;font-size: 2em;justify-content: center;height: auto;width: 160px}

/* ===================================================== PDF 📄 ========================================================= */

.card-pdf {background: #383940;width: 990px;margin: auto;border-radius: 20px}
.pdf {background: #d00f0f;border-radius: 3px;width: 37px;height: 31.3px;font-size: 18px;color: #fff;text-align: center;margin-top: 8px}
.pdf:hover {color: #fff}

/* ================================================= CALCULATOR 📟 ===================================================== */

.calc-button {background: #d47d00;border-radius: 3px;width: 37px;height: 31.3px;font-size: 18px;color: #fff;text-align: center}
.calc-button:hover {color: #fff}
.clear {clear: both}
.esp {background: #ff0000;width: 120px !important}
.gap2 {width: 417.5px;float: left;border-radius: 7px}
.gap {width: 220px;float: left;border-radius: 7px}
.job {margin: 2em}
.pant {margin: -29px 0;width: 170px;background: #303030;border: #000 2px outset;border-radius: 7px;float: right}
.screen {border:#a0a0a0 2.5px inset;width: 410px;margin: 3.5px;color: #202020;text-align: right;font-size: 30px;letter-spacing: 3px;border-radius: 7px;background: linear-gradient(to bottom, rgba(211, 211, 211, 1) 0%,rgba(180, 180, 180, 1) 47%,rgba(160, 160, 160, 1) 100%)}

#calculator {border-radius: 10px;width: 495px;height: 580px;margin: auto;background: #606061;border-color: #555;border-width: 3px 6px 5px 3px;border-style: outset}
#operator button {margin: 6px;width: 50px;padding: 6px 0;color: #5e5e5e;font-size: 15px;letter-spacing: -2px;border: #969595 3px outset;border-radius: 9px;box-sizing: content-box}
#operator button:active {border: #626587 3px inset;text-decoration: none}
#keyboard button {margin-left: 10px;margin-bottom: 5px;width: 125px;height: 57px;color: #fff;font-size: 20px;background: #464646;border: #626587 3px outset;border-radius: 9px}
#keyboard button:active {border: #626587 3px inset;font-size: 20px}
#show-display {width: 170px;color: #aaa;font-size: .8em;border-radius: 7px;background: #14145433;text-align: right}

.wallpaper {background-image: url(assets/icons/wallpaper-calc.jpg);background-size: contain;background-attachment: fixed;width: 1421px;height: 88vh;margin: -21.5px 0 0 -156px}

/* ================================================== CHART 📈 📉 ======================================================= */

.card-chart {background: #474747;width: 1090px;margin: auto;border-radius: 10px;border: 3.3px solid #676666}
.chart {background: #7c6352;border-radius: 3px;width: 37px;height: 31.3px;font-size: 18px;color: #fff;text-align: center}
.chart:hover {color: #fff}

/* ================================================ MUSIC PLAYER ♫ ====================================================== */

.card-music {width: 990px;margin: auto;border-radius: 10px;align-items: center}
.music {background: #d021c4;border-radius: 3px;width: 37px;height: 31.3px;font-size: 18px;color: #fff;text-align: center}
.music:hover {color: #fff}

.wrapper {margin: auto;margin-top: 25px;width: 380px;padding: 5px 30px;overflow: hidden;position: relative;border-radius: 10px;box-shadow: 0 0 15px #e7e7e7}
.wrapper i {cursor: pointer}

.top-bar,.progress-area .song-timer,.controls,.music-list .header,.music-list ul li {display: flex;align-items: center;justify-content: space-between}
.top-bar i {font-size: 30px;color: lightgrey}
.top-bar i:first-child {margin-left: -7px}
.top-bar span {font-size: 18px;margin-left: -3px;color: lightgrey}

.img-area {width: 100%;height: 220px;overflow: hidden;margin-top: 35px;border-radius: 15px;box-shadow: 0 0 16px rgb(255, 255, 255)}
.img-area img {width: 100%;height: 100%;object-fit: cover}

.song-details {text-align: center;margin: 30px 0}
.song-details p {color: lightgrey}
.song-details .name {font-size: 21px}
.song-details .artist {font-size: 18px;opacity: .9;line-height: 35px}
.song-timer span {font-size: 13px;color: lightgrey}

.progress-area {height: 6px;width: 100%;border-radius: 50px;background: #f0f0f0;cursor: pointer}
.progress-area .progress-bar {height: inherit;width: 0;position: relative;border-radius: inherit;background: linear-gradient(90deg, #e9e9e9 0, #a1a1a1 100%)}
.progress-bar::before {content: "";position: absolute;height: 12px;width: 12px;border-radius: 50%;top: 50%;right: -5px;z-index: 2;opacity: 0;pointer-events: none;transform: translateY(-50%);background: inherit;transition: opacity .2s ease}
.progress-area:hover .progress-bar::before {opacity: 1;pointer-events: auto}
.progress-area .song-timer {margin-top: 2px}

.controls {margin: 40px 0 5px 0}
.controls i {font-size: 28px;user-select: none;background: linear-gradient(#fee800 0, #d021c4 100%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent}
.controls i:nth-child(2),.controls i:nth-child(4) {font-size: 43px}
.controls #prev {margin-right: -13px}
.controls #next {margin-left: -13px}
.controls .play-pause {height: 54px;width: 54px;display: flex;cursor: pointer;align-items: center;justify-content: center;border-radius: 50%;background: linear-gradient(#04fc43 0, #0a6d88 100%);box-shadow: 0 0 8px #f3f3f3}

.play-pause::before {position: absolute;content: "";height: 43px;width: 43px;border-radius: inherit}
.play-pause i {height: 43px;width: 43px;line-height: 43px;text-align: center;background: inherit;background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;position: absolute}

.header .row {display: flex;align-items: center;font-size: 19px;color: lightgrey}
.header .row i {cursor: default}
.header .row span {margin-left: 5px}
.header #close {font-size: 22px;color: lightgrey}

.music-list {position: absolute;background: #fff;width: 100%;left: 0;bottom: -55%;opacity: 0;pointer-events: none;z-index: 5;padding: 15px 30px;border-radius: 15px;box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);transition: all .15s ease-out}
.music-list.show {bottom: 0;opacity: 1;pointer-events: auto}
.music-list ul {margin: 10px 0;max-height: 260px;overflow: auto}
.music-list ul::-webkit-scrollbar {width: 0}
.music-list ul li {list-style: none;display: flex;cursor: pointer;padding-bottom: 10px;margin-bottom: 5px;color: lightgrey;border-bottom: 1px solid #E5E5E5}
.music-list ul li:last-child {border-bottom: 0}
.music-list ul li .row span {font-size: 17px}
.music-list ul li .row p {opacity: .9}

ul li .audio-duration {font-size: 16px}
ul li.playing {pointer-events: none;color: #00ffee}