.page-num {width: 40px !important;text-align: center;font-weight: 600}
.arrow {width: 0;height: 0;margin-top: 5px;border-left: 5px solid transparent;border-right: 5px solid transparent;display: inline-block}
.arrow-up {border-bottom: 10px solid}
.arrow-down {border-top: 10px solid}
.title-home {font-size: 13.7px;font-weight: 400;font-family: 'Segoe UI', sans-serif;padding-top: 5px}

.find {background: #f5d20c;color: #393939;margin-left: 3px}
.clean-find {background: #c02f2f;margin-left: 3px}
.delete {margin-left: .1px}

.first,.prev {margin: -.4px 5px 0 0}
.next,.last {margin: -.4px 0 0 5px}

.arrow-up,.arrow-down,.link:hover,.link,.clean-find {color: #fff}

.input-password,.input-email,.input-name,.input-phone {margin: 9px 9px;background: #e8f0fe}
.lock,.envelope,.name,.phone {margin-top: 12px;width: 40px}

.link {background: #b00fd0;border-radius: 3px;width: 90px;height: 31.3px;text-align: center;font-size: 13.9px;padding-top: 4.4px}
.link:hover {background: #9f0ebc}

::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: #606060}
::-webkit-scrollbar-thumb {background: #bebebe}
::-webkit-scrollbar-thumb:hover {background: #bebebe}