.page-num {width: 50px !important;height: 28px !important}
.arrow {width: 0;height: 0;margin-top: 5px;border-left: 5px solid transparent;border-right: 5px solid transparent;display: inline-block}
.arrow-up {border-bottom: 10px solid}
.arrow-down {border-top: 10px solid}
.title-home {font-size: 13.5px;font-weight: 400;font-family: 'Segoe UI', sans-serif;padding-top: 5px}

.first,.prev {margin: -.4px 4px 0 0;font-family: 'Varela Round';height: 29px}
.next,.last {margin: -.4px 0 0 4px;font-family: 'Varela Round';height: 29px}

.next-page {margin-left: 20px;color:#be5810}
.prev-page {margin-right: 20px;transform: rotate(180deg);color:#0d981e}
.prev-fast {transform: rotate(180deg);margin-right: 20px;color:#0d2d98}
.next-fast {margin-left: 20px;color:#be1e10}

.next-page,.prev-page,.prev-fast,.next-fast {transition: all ease .17s;font-size: 23px;margin-top: -2.7px}
.next-page:hover,.prev-page:hover,.prev-fast:hover,.next-fast:hover {filter: drop-shadow(0 0 .085em)}

.lang {width: 20px}
.cam {width: 16px;margin-top: -5px}

.next-page,.prev-page,.prev-fast,.next-fast,.speedometer,.clock {cursor: pointer}

.arrow-up,.arrow-down,.link:hover,.link,.card-title,.clock:hover,.card-desc {color: #fff}

.card-title,.link,.table-title,.page-num {text-align: center}

.input-password,.input-email,.input-name,.input-phone {margin: 9px 9px}
.lock,.envelope,.name,.phone {margin-top: 12px;width: 40px}

.link {background: #b00fd0;border-radius: 3px;width: 90px;height: 31.3px;padding-top: 4.5px;font-size: 14px}
.link:hover {background: #9f0ebc}

.table-title {font-size: 14.1px;color: #bebcbc;font-family: 'Varela Round'}
.table-content {font-size: 13.7px}

.purchase-button {font-size: 12px;margin: 7px 0 0 50px;height: 25px;width: 90px;color: #333;background: #bbbe10;font-weight: 500;border-radius: .3rem}
.purchase-button:hover {background: #abd727}

.card-photo {width: 77px;margin: 44px 0 0 56.5px;border-radius: 3%}
.card-title {margin: 7px 62px 0 0;font-size: 13px}
.card-desc {font-size: 12px;margin: -9px 0 0 65px}

.clock {transform: scale(.92);transition: all ease .2s}
.clock:hover,.speedometer:hover {transform: scale(1);filter: drop-shadow(0 0 .05em)}

.speedometer {transform: scale(.97);transition: all ease .2s}
.speedometer:hover {color: #abd727}

::-webkit-scrollbar {width: 5px}
::-webkit-scrollbar-track {background: #606060}
::-webkit-scrollbar-thumb {background: #bebebe}